networks:
  lb-common:
    name: lb-common
    attachable: true
    # driver: overlay

services:
  reverse-proxy:
    image: traefik:v3.6 # The official Traefik docker image
    # network_mode: "host" 
    container_name: traefik
    #command: --api --docker
    ports:
      - "80:80"     # The HTTP port
      - "8080:80"   # The HTTP port
      - "443:443"   # The HTTPS port
      - "8443:443"  # The HTTPS port
      - "90:90"     # The DB port
      # - "25:25"     # The SMPT port
      - "8081:8080" # The Web UI (enabled by --api)
    labels:
      - "traefik.enable=true"
      # HTTP router - redirects to HTTPS
      - "traefik.http.routers.dashboard-http.rule=Host(`dashboard.local.io`)"
      - "traefik.http.routers.dashboard-http.entrypoints=web"
      - "traefik.http.routers.dashboard-http.middlewares=dashboard-redirect"
      # Redirect middleware
      - "traefik.http.middlewares.dashboard-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.dashboard-redirect.redirectscheme.permanent=true"
      # HTTPS router
      - "traefik.http.routers.dashboard.rule=Host(`dashboard.local.io`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.tls=true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${PWD}/docker/traefik.yaml:/etc/traefik/traefik.yaml:ro
    networks:
      - lb-common
