networks:
  lb-common:
    name: lb-common
    attachable: true
    # driver: overlay

services:
  reverse-proxy:
    image: traefik:v3.6 # The official Traefik docker image
    # network_mode: "host" 
    container_name: traefik
    #command: --api --docker
    ports:
      - "80:80"     # The HTTP port
      - "8080:80"   # The HTTP port
      - "443:443"   # The HTTPS port
      - "8443:443"  # The HTTPS port
      - "90:90"     # The DB port
      # - "25:25"     # The SMPT port
      - "8081:8080" # The Web UI (enabled by --api)
    labels:
      - "traefik.enable=true"
      # HTTP router - redirects to HTTPS
      - "traefik.http.routers.dashboard-http.rule=Host(`dashboard.local.io`)"
      - "traefik.http.routers.dashboard-http.entrypoints=web"
      - "traefik.http.routers.dashboard-http.middlewares=redirect-to-https@file"
      # HTTPS router
      - "traefik.http.routers.dashboard.rule=Host(`dashboard.local.io`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.tls=true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${PWD}/docker/config/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ${PWD}/docker/config/traefik/dynamic.yml:/etc/traefik/dynamic.yml:ro
      - ${PWD}/docker/certs:/etc/certs:ro
    networks:
      - lb-common
    depends_on:
      - sablier

  sablier:
    image: sablierapp/sablier:1.10.1
    container_name: sablier
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/sablier/sablier.yml:/etc/sablier/sablier.yaml:ro
      - ./config/sablier/themes:/etc/sablier/themes:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.sablier.entrypoints=web
      - traefik.http.routers.sablier.rule=Host(`sablier.local.io`)
      - traefik.http.routers.sablier.service=svc-sablier
      - traefik.http.services.svc-sablier.loadbalancer.server.port=10000
      - traefik.http.routers.sablier.tls=true
    networks:
      - lb-common

