http:
  middlewares:
    # Global HTTPS redirect middleware - reusable for any service
    redirect-to-https:
      redirectScheme:
        scheme: https
        port: 443
        permanent: true
      # Alternative: Use redirectRegex if redirectScheme doesn't work
      # redirectRegex:
      #   regex: "^http://(.*)"
      #   replacement: "https://${1}"
      #   permanent: true

tls:
  certificates:
    - certFile: "/etc/certs/wildcard-local.io-cert.pem"
      keyFile: "/etc/certs/wildcard-local.io-key.pem"
      # Note: Traefik will automatically detect the domains from the certificate
      # The wildcard certificate (*.local.io) will be used automatically for matching domains
